<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FungjaiTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FA89A571E7BD3800031B6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA89A6D1E7BD3810031B6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA89A781E7BD3810031B6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
